.u-section-1 .u-sheet-1 {
  min-height: 1055px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 93px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 962px;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-text-1 {
  margin: 11px 17px 0;
}

.u-section-1 .u-group-1 {
  width: 250px;
  min-height: 222px;
  margin: 9px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-widget-1 {
  min-height: 215px;
  width: 250px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 33px 27px 0 17px;
}

.u-section-1 .u-group-2 {
  min-height: 222px;
  width: 250px;
  margin: -23px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-widget-2 {
  min-height: 222px;
  width: 250px;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 93px auto 0 18px;
  padding: 8px 56px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 42px auto 0 18px;
  padding: 8px 33px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 962px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 433px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  width: 827px;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10.6667px) calc(33.3333% - 10.6667px) calc(33.3333% - 10.6667px);
  min-height: 350px;
  grid-gap: 16px 16px;
  grid-auto-columns: calc(33.3333% - 10.6667px);
  margin-top: 0;
  width: 827px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-6 {
  padding: 50px 20px 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-7 {
  padding: 50px 20px 0;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-8 {
  padding: 50px 20px 0;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 235px;
  }

  .u-section-1 .u-widget-1 {
    height: auto;
    width: 235px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 235px;
  }

  .u-section-1 .u-widget-2 {
    height: auto;
    width: 235px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 813px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 380px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10.6667px));
    grid-auto-columns: calc(33.333333333333336% - 10.6667px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 180px;
  }

  .u-section-1 .u-widget-1 {
    width: 180px;
  }

  .u-section-1 .u-group-2 {
    width: 180px;
  }

  .u-section-1 .u-widget-2 {
    width: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    min-height: 743px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 715px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -743px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.000025px));
    min-height: 1232px;
    grid-auto-columns: calc(50% - 8.000025px);
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-group-3 {
    min-height: 1080px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1052px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1080px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}