{% extends "base.html" %}
{% load crispy_forms_tags %}

{#{% block links %}#}
{#<link rel="stylesheet" href="{% static 'css/menu/menu.css' %}" media="screen">#}
{#{% endblock %}#}

{% block content %}
    <section class="u-align-center u-clearfix u-section-1" id="sec-886c">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <form method="post" enctype="multipart/form-data" action="">
                    <div>
                        {%csrf_token%}
                        {{ form|crispy }}
                    </div>
                    <button type="submit">Выбрать</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}